body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: maroon; /* Added background color */
  }
  
  canvas {
    border: 1px solid black;
  }
  
  .game-description {
    text-align: center;
    font-family: 'Comic Sans MS', cursive; /* Creative font */
  }
  .game-description ul {
    text-align: left;
  }
  #game-canvas:hover {
    cursor: none; /* Hide cursor when hovering over the canvas */
  }
  